.clouds {
  background-image: url("/dist/img/clouds.jpg");
}

.rain {
  background-image: url("/dist/img/rain.jpg");
}

.snow {
  background-image: url("/dist/img/snow.jpg");
}

.night {
  background-image: url("/dist/img/night.jpg");
}

.fog {
  background-image: url("/dist/img/fog.jpg");
}

