$font-color: #fff;
$background-color: rgba(0, 0, 0, 0.9); 
$mask-color: rgba(31, 31, 31, 0.1);
$button-color: transparent;
$navButtons-bgcolor: #ec6e4c;
$bordercolor: rgb(80, 80, 80);
$container-bgcolor: #f2f2f2;
$button-textcolor: #fff;
$shadowcolor: #fff;
$text-shadow-color: #3c3a3d;
$fadecolor: rgba(255, 255, 255, 0.6);

